#frame {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

#sidepanel {
    float: left;
    width: 100%;
    margin-left: -10px;
    background: #fff;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
}

#sidepanel #search {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-weight: 15%;
}

#sidepanel #search label {
    position: absolute;
    margin: 10px 0 0 20px;
}

#sidepanel #search input {
    padding: 10px 0 10px 46px;
    font-size: 17px;
    width: 100%;
    border: none;
    background: #ccc;
    color: #fff;
}

#sidepanel #search input:focus {
    outline: none;
    background: #435f7a;
}

#sidepanel #search input::-webkit-input-placeholder {
    color: #fff;
}

#sidepanel #search input::-moz-placeholder {
    color: #fff;
}

#sidepanel #search input:-ms-input-placeholder {
    color: #fff;
}

#sidepanel #search input:-moz-placeholder {
    color: #fff;
}

#sidepanel #contacts {
    width: 100%;
    height: 95vh;
    /*min-height: calc(100% - 100px);*/
    /*max-height: calc(100% - 100px);*/
    overflow-y: scroll;
    overflow-x: hidden;
}

#frame #sidepanel #contacts::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

#frame #sidepanel #contacts::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

.sidepanel_contact {
    padding: 0px 0 0px 0;
}

#sidepanel #contacts ul li.contact {
    position: relative;
    padding: 10px 0 15px 0;
    font-size: 15px;
    cursor: pointer;
    list-style-type: none;
    font-weight: normal;
}

#sidepanel #contacts ul li.contact p {
    margin-top: -3px;
    color: #7F8E8D;
    font-weight: normal;
}

#sidepanel #contacts ul li.contact:hover {
    background: #eee;
}

#sidepanel #contacts ul li.contact.active {
    background: #eee;
    border-left: 5px solid #435f7a;
    font-weight: bolder;
}

#sidepanel #contacts ul li.contact.active p {
  font-weight: bold;
  color: #000;
  font-weight: bold;
}

#sidepanel #contacts ul li.contact .wrap {
    width: 88%;
    margin: 0 auto;
    position: relative;
}



/*#frame #sidepanel #contacts ul li.contact .wrap span {
    position: absolute;
    left: 0;
    margin: -2px 0 0 -2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #2c3e50;
    background: #95a5a6;
}
#frame #sidepanel #contacts ul li.contact .wrap span.online {
    background: #2ecc71;
}
#frame #sidepanel #contacts ul li.contact .wrap span.away {
    background: #f1c40f;
}
#frame #sidepanel #contacts ul li.contact .wrap span.busy {
    background: #e74c3c;
}*/

#sidepanel #contacts ul li.contact .wrap img {
    width: 45px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

#sidepanel #contacts ul li.contact.active img {
    width: 45px;
    border-radius: 50%;
    float: left;
    margin-left: -5px;
    margin-top: 5px;
}

#sidepanel #contacts ul li.contact .wrap .meta {
    padding: 5px 0 0 0;
}

#sidepanel #contacts ul li.contact .wrap .meta .name {
    font-weight: 600;
}

#sidepanel #contacts ul li.contact .wrap .meta .preview {
    margin: 5px 0 0 0;
    padding: 0 0 1px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-transition: 1s all ease;
    -o-transition: 1s all ease;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
}

/*#frame #sidepanel #bottom-bar {
    position: absolute;
    width: 100%;
    bottom: 0;
}*/

/*#frame #sidepanel #bottom-bar button {
    float: left;
    border: none;
    width: 50%;
    padding: 10px 0;
    background: #32465a;
    color: #f5f5f5;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
}
@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button {
        float: none;
        width: 100%;
        padding: 15px 0;
    }
}
#frame #sidepanel #bottom-bar button:focus {
    outline: none;
}
#frame #sidepanel #bottom-bar button:nth-child(1) {
    border-right: 1px solid #2c3e50;
}
@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid #2c3e50;
    }
}
#frame #sidepanel #bottom-bar button:hover {
    background: #435f7a;
}
#frame #sidepanel #bottom-bar button i {
    margin-right: 3px;
    font-size: 1em;
}
@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button i {
        font-size: 1.3em;
    }
}
@media screen and (max-width: 735px) {
    #frame #sidepanel #bottom-bar button span {
        display: none;
    }
}*/

.content {
    /*float: right;*/
    width: 105%;
    height: 100vh;
    margin-left: -31px;
    overflow: hidden;
    position: relative;
}

.content .contact-profile {
    padding-top: 9.5px;
    padding-left: 9px;
    width: 105%;
    height: 60px;
    line-height: 60px;
    background: #eee;
}

.content .contact-profile img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin-left: 9px;
}

.content .contact-profile p {
    float: left;
    margin-top: -10px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.content .messages {
    width: 100%;
    /*height: auto;*/
    min-height: calc(100% - 100px);
    max-height: calc(100% - 100px);
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #fff;
}

.content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

.content .messages::-webkit-scrollbar-thumb {
    background-color: #2c3e50;
}

.content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 15px 15px 5px 15px;
    width: calc(100% - 25px);
    font-size: 0.9em;
}

.content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
}

.content .messages ul li.sent img {
    float: right;
    margin: 1px 8px 0 0;
}

.content .messages ul li.sent p {
    float: right;
    background: #435f7a;
    color: #f5f5f5;
    margin-right: 9px;
    font-size: 17px;
}

.content .messages ul li.replies img {
    margin: 1px 0 0 0px;
    /*margin-left: 5.5%;*/
    margin-left: 0px;
}

.content .messages ul li.replies p {
    background: #f5f5f5;
    margin-left: 9px;
    font-size: 17px;
}

.content .messages ul li img {
    width: 30px;
    border-radius: 50%;
    float: left;
}

.content .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 300px;
    line-height: 130%;
}

.content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
    border: 2px solid #eee;
    background-color: white;
}

.content .message-input .wrap {
    position: relative;
}

.content .message-input .wrap input {
    /*font-family: "proxima-nova",  "Source Sans Pro", sans-serif;*/
    float: left;
    border: none;
    width: calc(100% - 90px);
    padding: 5px 32px 10px 8px;
    font-size: 17px;
    color: #32465a;
}

.content .message-input .wrap input:focus {
    outline: none;
}

.content .message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
}

.content .message-input .wrap .attachment:hover {
    opacity: 1;
}

.content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
}

.content .message-input .wrap button:hover {
    background: #435f7a;
}

.content .message-input .wrap button:focus {
    outline: none;
}